<html>

<body>
    <h1>{{title}}</h1>
    <h2>Movies: </h2>
    <ul class="movies">
        <li *ngFor="let movie of movies" [class.selected]="movie === selectedMovie"  (click)="onSelect(movie)">          
            <span class="badge">{{movie.id}}</span> {{movie.title}}
        </li>
    </ul>
    <div *ngIf="selectedMovie">
        <h2>Details of movie: </h2><br>
        <h2>{{selectedMovie.title}}</h2>
        <div><label>Id:  </label>{{selectedMovie.id}}</div>
        <div><label>Title:  </label>{{selectedMovie.title}}</div>
        <div><label>Year:  </label>{{selectedMovie.year}}</div>
        <div><label>Genre:  </label>{{selectedMovie.genre}}</div>
        <div><label>Director:  </label>{{selectedMovie.director}}</div>
        <div><label>Actors:  </label>{{selectedMovie.actors}}</div>
        <div><label>Description:  </label>{{selectedMovie.description}}</div>
        <div><label>Rating:  </label>{{selectedMovie.rating}}</div>
    </div>
</body>

</html>