
<div *ngIf="movie">
    <h2>Details of movie: </h2><br>
    <h2>{{movie.title}}</h2>
    <div><label>Id:  </label>{{movie.id}}</div>
    <div><label>Title:  </label>{{movie.title}}</div>
    <div><label>Year:  </label>{{movie.year}}</div>
    <div><label>Genre:  </label>{{movie.genre}}</div>
    <div><label>Director:  </label>{{movie.director}}</div>
    <div><label>Actors:  </label>{{movie.actors}}</div>
    <div><label>Description:  </label>{{movie.description}}</div>
    <div><label>Rating:  </label>{{movie.rating}}</div>
</div>