<div *ngIf="movie">
        <div><img id="cover" src="./covers/{{movie.coverUrl}}" style="width: 33%; height: 33%;" align="right" /></div>
        <h2>{{movie.title}}</h2>
        <div><label>Id:  </label>{{movie.id}}</div>
        <div class="form-group">
                <label for="title">Title:  </label>
                <input type="text" class="form-control" id="title" required="true" #title="ngModel" [(ngModel)]="movie.title" placeholder="Title"
                        style="width: 60%; height: auto" />
                <div style="width: 60%; height: auto" [hidden]="title.valid || title.pristine" class="alert alert-danger">
                        Field is mandatory!
                </div>
        </div>
        <div class="form-group"><label for="year">Year:  </label>
                <input class="form-control" type="text" id="year" name="year" required minlength="4" maxlength="5" min="1900" max="2017"
                        pattern="^(0|[1-9][0-9]*)$" [(ngModel)]="movie.year" placeholder="Year" #year="ngModel" style="width: 60%; height: auto"
                />
                <div *ngIf="year.errors && (year.dirty || year.touched)" class="alert alert-danger" style="width: 60%; height: auto;">
                        <div [hidden]="!year.errors.required">
                                Year is required
                        </div>
                        <div [hidden]="!year.errors.minlength">
                                Year must be at least 4 characters long.
                        </div>
                        <div [hidden]="!year.errors.maxlength">
                                Year cannot be more than 4 characters long.
                        </div>
                        <div [hidden]="!year.errors">
                                Input number.
                        </div>
                </div>
        </div>


        <div class="form-group"><label for="genre">Genre:</label>
                <select class="form-control" id="genre" name="" [(ngModel)]="movie.genre" #genre="ngModel" required="true" style="width: 60%; height: auto;">
                        <option>Crime</option>
                        <option>Drama</option>
                        <option>Comedy</option>
                        <option>Thriller</option>
                        <option>Romans</option>
                        <option>Action</option>
                </select>
        </div>
        <div class="form-group"><label for="director">Director:</label>
                <input type="text" class="form-control" id="director" required minlength="4" maxlength="25" #director="ngModel" [(ngModel)]="movie.director"
                        placeholder="Director" style="width: 60%; height: auto" />
                <div class="help-block">Minimum of 4 characters, maximum 25 characters</div>
                <div *ngIf="director.errors && (director.dirty || director.touched)" class="alert alert-danger" style="width: 60%; height: auto;">
                        <div [hidden]="!director.errors.required">
                                Year is required
                        </div>
                        <div [hidden]="!director.errors.minlength">
                                Year must be at least 4 characters long.
                        </div>
                        <div [hidden]="!director.errors.maxlength">
                                Year cannot be more than 25 characters long.
                        </div>
                </div>

        </div>
        <div class="form-group"><label for="actors">Actors:  </label>
                <input type="text" class="form-control" id="actors" required minlength="4" maxlength="45" #actors="ngModel" [(ngModel)]="movie.actors"
                        placeholder="Actors" style="width: 60%; height: auto" />
                <div class="help-block">Minimum of 4 characters, maximum 45 characters</div>
                <div *ngIf="actors.errors && (actors.dirty || actors.touched)" class="alert alert-danger" style="width: 60%; height: auto;">
                        <div [hidden]="!actors.errors.required">
                                Year is required
                        </div>
                        <div [hidden]="!actors.errors.minlength">
                                Year must be at least 4 characters long.
                        </div>
                        <div [hidden]="!actors.errors.maxlength">
                                Year cannot be more than 45 characters long.
                        </div>
                </div>
        </div>
        <div class="form-group"><label for="description">Description:</label>
                <textarea type="text" class="form-control" id="description" required minlength="4" maxlength="255" #description="ngModel"
                        [(ngModel)]="movie.description" placeholder="Description" style="width: 100%; height: auto"></textarea>
                <div class="help-block">Minimum of 4 characters, maximum 255 characters</div>
                <div *ngIf="description.errors && (description.dirty || description.touched)" class="alert alert-danger" style="width: 60%; height: auto;">
                        <div [hidden]="!description.errors.required">
                                Description is required
                        </div>
                        <div [hidden]="!description.errors.minlength">
                                Description must be at least 4 characters long.
                        </div>
                        <div [hidden]="!description.errors.maxlength">
                                Description cannot be more than 45 characters long.
                        </div>
                </div>
        </div>
        <div class="form-group">
                <label for="title">Rating:  </label>
                <input type="number" class="form-control" id="rating" required #rating="ngModel" [(ngModel)]="movie.rating" placeholder="Rating"
                        style="width: 60%; height: auto" />
                <div style="width: 60%; height: auto" [hidden]="rating.valid || rating.pristine" class="alert alert-danger">
                        Field is mandatory!
                </div>
        </div>
        <div style="text-align: center">
                <button [disabled]="title.errors || year.errors || director.errors || actors.errors || description.errors || rating.errors"
                        (click)="save(movie)" class="btn btn-success" data-dismiss="modal">Save</button>
        </div>
</div>